<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{url_for('static', filename='js/login.js')}}"></script>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/login.css')}}"
    />
  </head>
  <body>

    <div class="container">
      <div class="kiri">
        <h2>Welcome Back</h2>

        <form id="form" method="post" onsubmit="kirimdata(event)">
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            required
            placeholder="Masukkan username anda"
          />

          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            required
            placeholder="Masukkan password anda"
          />

          <input type="submit" class="submit-btn" value="Login" />
        </form>

        <p>Belum Punya Akun? <a href="/register">Register</a></p>
      </div>

      <div class="kanan">
        <img src="../static/uploads/Logo.jpeg">
        <h1>GYM LOCT</h1>
        <p>
          Sistem ini dirancang untuk memudahkan masyarakat Pekanbaru menemukan
          informasi lokasi, fasilitas, dan layanan gym. Guna mendukung gaya
          hidup sehat dan kebugaran.
        </p>
      </div>
    </div>
  </body>
</html>
